{% extends 'worker/meBase.html' %}
{% load static %}
{% block title %}详情页|{{ post.title }}{% endblock %}
{% block username %}{{ user.username }}{% endblock %}

{% block extra_css %}

<script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/dracula.css' %}">


    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
    <script src="{% static 'codemirror/addon/mode/loadmode.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>



{% endblock extra_css %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category">
                    <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
             <!--   <span class="comments-link">
                    <a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>-->
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>

                {% with total_likes=post.users_like.count  users_like=post.users_like.all %}
                    <span class="count">
                         <span class="total">{{ total_likes }}</span>
                         like{{ total_likes|pluralize }}
                    </span>
                    <a href="#" data-id="{{ post.pk }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                      {% if request.user not in users_like %}
                        Like
                      {% else %}
                        Unlike
                      {% endif %}
                    </a>
                {% endwith %}


            </div>
        </header>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "blog:like"  %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
       });
  </script>



        <button onclick="c_mode()">c++</button>
        <button onclick="p_mode()">python</button>


        <div class="entry-content clearfix">
            <textarea  id="script_once_code">
            {{ post.body|safe }}
            </textarea>

            <script>

            myTextarea = document.getElementById("script_once_code");
            var editor = CodeMirror.fromTextArea(myTextarea, {  // 标识到textarea
                mode: "python",  // 模式
                theme : "dracula",  // CSS样式选择
                lineWrapping:true,
                indentUnit : 2,  // 缩进单位，默认2
                smartIndent : true,  // 是否智能缩进
                tabSize : 4,  // Tab缩进，默认4
                readOnly : false,  // 是否只读，默认false
                showCursorWhenSelecting : true,
                lineNumbers : true ,// 是否显示行号
                matchBrackets: true,
                   <!-- 括号匹配 -->
               <!-- 是否在初始化时自动获取焦点 -->
               autofocus: true,
               <!-- 智能提示  -->
               extraKeys: {"Ctrl-Space": "autocomplete"},
               <!-- 编辑器是否只读,并且不能获得焦点 -->

                //readOnly: true,
                // .. 还有好多，翻译不完。需要的去看http://codemirror.net/doc/manual.html#config
            });
            editor.setSize('auto', '600px'); //设置代码框的长宽
           /*选择脚本类型JS
            var txt1=$("#script_once_code").val();
            var txt2='';
            $(".ck-code").click(function(){
                   var txt=editor.getValue(); //editor.getValue()获取textarea中的值
                   var lang=$(this).prop("id");
                   if(lang=="script_once_type1") {
                           editor.setOption("mode","python");//editor.setOption()设置脚本类型
                           editor.setValue(txt);// editor.setValue()设置textarea中的值
                           editor.refresh();
                   }
                   else if(lang=="script_once_type2") {
                           editor.setOption("mode","clike");
                           editor.setValue(txt);
                           editor.refresh();
                   }
                   $refs.myEditor.editor.setOption()
            });*/


           function s_mode(){
            var x = document.getElementById("select_mode");
            var mode = x.options[x.selectedIndex].textContent;
            var txt = editor.getValue();
            location.hash = "#" + mode;
            editor.setOption("mode","python");
           // editor.setValue(txt);
           // editor.refresh();
          }
          function c_mode() {
              editor.setOption("mode","text/x-c++src");

          }
          function p_mode() {
              editor.setOption("mode","python");
          }
          function runinto(x)
          {
              editor.scrollIntoView({line:x,ch:0})
          }

            </script>

        </div>
    </article>

   <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表标注</h3>
       {% if user.is_authenticated %}
        <form action="{% url 'blog:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">


                <div class="col-md-4">
                    <label for="id_cloum">行数：</label>
                    <input id="id_cloum" maxlength="100" name="cloum" type="text" required="" >
                    {{ form.url.errors }}
                </div>
                <div class="col-md-12">
                    <label for="id_text">标注：</label>
                    <textarea cols="40" id="id_text" name="text" rows="5" required=""></textarea>
                    {{ form.text.errors }}
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
        {% else %}
            <p>请先<a href="{% url 'login' %}?next={{ request.path }}">登录</a>后方可标注</p>
        {% endif %}
    </section>

{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
            <h3>标注列表，共 <span>{{ post.comment_set.count }}</span> 条标注</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in post.comment_set.all %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.user.username }}</span>
                        <time class="submit-date"
                              datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>

                        {% with total_likes=comment.users_like.count  users_like=comment.users_like.all %}

                            <span class="vote_count">
                                <span class="vote_total">{{ total_likes }}</span>
                                like{{ total_likes|pluralize }}
                            </span>

                            <a href="#" data-id="{{ comment.id }}" data-action="{% if request.user in users_like %}un{% endif %}vote"
                               class="vote button"  >
                                {% if request.user not in users_like %}
                                    vote
                                {% else %}
                                    Unvote
                                {% endif %}
                            </a>
                        {% endwith %}

                        <div class="cloum">
                            行数：{{ comment.cloum }}<button onclick="runinto({{ comment.cloum }})">跳转</button>
                        </div>

                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无标注
                {% endfor %}
            </ul>
    </div>

    <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
        $("a[class$="+name+"]")
  $('a.vote').click(function(e){
    e.preventDefault();
    $.post('{% url "blog:comment_like"  %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.vote').data('action');
          // toggle data-action
          $('a.vote').data('action', previous_action == 'vote' ? 'unvote' : 'vote');
          // toggle link text
          $('a.vote').text(previous_action == 'vote' ? 'Unvote' : 'Vote');
          // update total likes
          var previous_likes = parseInt($('span.vote_count .vote_total').text());
          $('span.vote_count .vote_total').text(previous_action == 'vote' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
       });
  </script>
{% endblock toc %}