{% extends "worker/meBase.html" %}
{% load static %}
{% load login_tags %}
{% block title %}用户中心{% endblock %}

{% block extracss %}

       <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">



    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
{% endblock extracss%}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'blog:worker_user_center' %}">个人中心</a></li>
{% endblock %}


{% block main %}
    <header id="site-header">
        <div class="row">

                <div class="我发布的代码">
                    <h3 align="center"> 我发布的代码 </h3>
                </div>


        </div>
    </header>
           {% for post in mypostlike %}
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category">
                                <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ post.author }}</a></span>
                            <span class="comments-link">
                                <a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ post.excerpt }}...</p>
                        <div class="read-more cl-effect-14">
                            <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
            {% empty %}
                <div class="no-post">暂时还没有发布的文章！</div>
            {% endfor %}


{% endblock main %}
{% block aside %}
        <header id="site-header">

                    <h3 > 我的标注 </h3>

        </header>
                <div class="widget widget-recent-posts">
               {% for comment in mycodeslist %}
                    <li class="comment-item">
                        <div class="postname">
                            代码名：
                            <a href="{{ comment.post.get_absolute_url }}">{{ comment.post.title }}</a>
                        </div>

                        <span class="nickname">{{ comment.user.username }}</span>
                        <time class="submit-date"
                              datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>


                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无标注
                {% endfor %}
           </div>
        {% include 'includes/pagination.html' %}
{% endblock aside%}




